# macOS
.DS_Store

# Editors
.idea/
.vscode/
*.swp

# Secrets & env
.env
.env.*
*.pem
*.key

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Helm
charts/*.tgz

# Node
node_modules/
npm-debug.log*

# Python
__pycache__/
*.pyc
.venv/
venv/

# Build
dist/
build/
